API_ID=31629794
API_HASH=3e7d32a1beca0324ba5e8a94c7b79d86
BOT_TOKEN=8639098812:AAHtemrIT7lq7x0EdY1QRMienXIW0DUWr8E
MONGO_DB_URI=mongodb+srv://rj5706603:O95nvJYxapyDHfkw@cluster0.fzmckei.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID=-1003401639448
MUSIC_BOT_NAME=˹ 𝐒ᴏɴᴀᴍ ꭙ 𝐌ᴜꜱɪᴄ ♪˼ [ ɴᴏ ᴀᴅꜱ ]
STRING_SESSION=BQCcYO4AZI6mtjnCNRKkv0Y8Zhc-BjF6f_Zhh46BfuYgssRERyBmUBwHE63TM4Y1Xz5Gbupns7p23n2i867wXKQG7rz1dsCkT015nJ8dUtnZfopE-yu2hSEIfybhDp1HcY77ZtrakQsWx0WI-PAx-C2Shg5J5sZ3JPNAw_Y4UcmXuUXIzL8vYprjSP_zMB-myS4bQJdaFqTdTyYszK3eQOlR_Nky6d2OaLrgE4djXlczaKkzoIyrwLqhiCfIfQN2YJ0rPcJvvQiVkFqT0zwDLCGqgrhJPjMTQ7kwMzvPVy7h_Pw4LVOmn3sl2fNTRZW1c90Ofsv4dJ_H2_KyOAde7BWpnbNhIQAAAAHA3xKpAA
